/********** GENERAL  **********/
:root {
  --primary-bg: #1d1c1c;
  --text-grey: #aaa;
  --color-cta: #8886f7;
  --color-pills: rgb(255, 0, 247);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 112.5%;
  font-family: 'Courier Prime', monospace;
  background-color: var(--primary-bg);
  color: #fff;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

section {
  margin-bottom: 80px;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

h1 {
  font-weight: lighter;
  font-size: 1rem;
  text-align: center;
  padding: 10px 0;
  letter-spacing: 1.5px;
  text-transform: lowercase;
}

h2 {
  letter-spacing: 1.2px;
  font-size: 2rem;
  margin: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #fff;
}

h3 {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #aaa;
}

.body-container {
  max-width: 750px;
  margin: auto;
}

@media (min-width: 600px) {
  body {
    background: #131415; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #131415,
      #222425
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #131415,
      #222425
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  h1 {
    font-size: 1.5rem;
  }
}

/**********  HEADER **********/
.header-name {
  color: #999;
}

.nav {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.nav-link {
  display: inline-block;
  color: var(--color-cta);
}

@media (min-width: 600px) {
  .nav {
    justify-content: center;
    margin: 50px 10px;
  }

  .section {
    margin-bottom: 100px;
  }

  .nav-link {
    margin: 20px;
  }
}

/**********  MAIN **********/
.section-container {
  padding: 15px 10px;
  margin: 10px;
  border-radius: 5px;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #232526,
    #2d2e2f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #232526,
    #2d2e2f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media (min-width: 600px) {
  .section-container {
    background: none;
  }
}

/********** SECTION INTRO **********/
.intro-img {
  display: block;
  margin: auto;
}

.skills {
  margin-top: 40px;
}

.skills li,
.tools li {
  display: inline-block;
  margin-right: 1px;
  margin-bottom: 5px;
  font-size: 0.8rem;
  color: var(--color-pills);
  border: 1px solid var(--color-pills);
  border-radius: 10px;
  padding: 5px 15px;
}

@media (min-width: 600px) {
  .intro-img-container {
    margin: auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
  .intro-img {
    max-width: none;
    width: 300px;
  }
}

/********** SECTION PROJECTS **********/
.projects-container {
  margin: 50px auto;
  max-width: 750px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-auto-rows: 120px;
  grid-auto-flow: dense;
}

.projects-container > div {
  background: teal;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.project-img-container {
  overflow: hidden;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-out;
}

.project-img:hover {
  transform: scale(1.5);
  opacity: 0.5;
}

@media (min-width: 490px) {
  .projects-container {
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    /* grid-auto-rows: 160px; */
  }
  .vertical-md {
    grid-row: span 2;
  }
}

/********** SECTION CONTACT **********/
.section-contact {
  color: var(--text-grey);
}

.contact-container {
  display: flex;
}

.contact-header {
  height: 30px;
  margin-bottom: 10px;
}

.contact-row {
  margin-bottom: 20px;
}

.contact-link {
  margin-left: 10px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  color: var(--color-cta);
}

.social-link {
  display: block;
  margin: 13px 0;
  border-radius: 5px;
  background-color: var(--color-cta);
  text-align: center;
  padding: 5px;
  line-height: 1;
}

.social-link:last-child {
  margin-bottom: 0;
}

.social-img {
  width: 10%;
}

@media (min-width: 600px) {
  .social-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .social-link {
    margin: 0;
    margin-right: 20px;
    border-radius: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 0.2s;
  }

  .social-link:hover {
    transform: translateY(-3px);
  }

  .social-img {
    width: 40px;
    height: 40px;
  }
}

/********** SECTION BIO **********/
.bio p {
  padding: 0;
  margin-bottom: 20px;
}

.bio ul {
  padding: 20px 0;
  font-size: 0.8rem;
  border-top: 1px solid #fff;
}

.bio-description {
  margin-bottom: 30px;
}

.job {
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.job-firstline {
  display: flex;
  justify-content: space-between;
}

.job-company {
  text-align: right;
  color: var(--text-grey);
}

@media (min-width: 600px) {
  .bio-description {
    margin-bottom: 70px;
  }

  .job {
    font-size: 1rem;
  }
}
