/********** GENERAL  **********/
:root {
  --primary-bg: #1d1c1c;
  --text-grey: #aaa;
  --color-cta: #e73cf5;
  --color-pills: #00ff34;
  --bg-color-pills: #084815;

  --techno-html: 100%;
  --techno-css: 100%;
  --techno-js: 100%;
  --techno-react: 75%;
  --techno-bootstrap: 75%;
  --techno-materialui: 75%;
  --techno-nodejs: 50%;
  --techno-mongodb: 50%;
  --techno-postgresql: 25%;
  --techno-webpack: 25%;

  --language-german: 100%;
  --language-english: 100%;
  --language-spanish: 75%;
  --language-portugues: 50%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 112.5%;
  font-family: 'Courier Prime', monospace;
  background-color: var(--primary-bg);
  color: #fff;
}

a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

a:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

h1 {
  padding: 10px 0;
  text-align: center;
  letter-spacing: 1.2px;
  font-size: 1rem;
  font-weight: lighter;
  text-transform: lowercase;
}

h2 {
  letter-spacing: 1.2px;
  font-size: 2rem;
  margin: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #fff;
}

h3 {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #aaa;
}

.body-container {
  max-width: 750px;
  margin: auto;
}

@media (min-width: 600px) {
  body {
    background: #131415; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #131415,
      #222425
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #131415,
      #222425
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

/**********  HEADER **********/
.header-name {
  color: #999;
}

.nav {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.nav-link {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--color-cta);
}

@media (min-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    justify-content: center;
    margin: 0;
  }

  .nav-link {
    margin: 0 5px;
  }
}

/**********  MAIN **********/
.section {
  margin-bottom: 80px;
}

.section-container {
  padding: 15px 10px;
  border-radius: 5px;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #232526,
    #2d2e2f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #232526,
    #2d2e2f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section-header {
  position: relative;
}

.section-header a {
  display: inline-block;
  position: absolute;
  right: 0;
  padding: 0 10px;
  border-radius: 5px;
  transform: translateY(-12px);
  color: #fff;
}

.section-header a:hover {
}
@media (min-width: 600px) {
  .section {
    margin-bottom: 120px;
  }

  .section-container {
    margin: 10px;
    padding: 15px 20px;
  }
}

/********** SECTION INTRO **********/
.intro-img {
  display: block;
  margin: auto;
}

.skills {
  margin-top: 30px;
}

.techno li,
.tools li,
.languages li {
  display: inline-block;
  margin-right: 1px;
  margin-bottom: 5px;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 3px 15px;
  line-height: 1.5;
}
.techno li,
.languages li,
.tools li {
  position: relative;
  color: var(--color-pills);
  border: 1px solid var(--color-pills);
  background-color: #000;
}

.techno li div,
.languages li div {
  position: relative;
  z-index: 99;
}

.techno li::before,
.languages li::before {
  position: absolute;
  z-index: 9;
  content: '';
  background-color: var(--bg-color-pills);
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px 0 0 5px;
}

.techno li.html::before {
  right: calc(102% - var(--techno-html));
}
.techno li.css::before {
  right: calc(102% - var(--techno-css));
}
.techno li.js::before {
  right: calc(102% - var(--techno-js));
}
.techno li.react::before {
  right: calc(102% - var(--techno-react));
}
.techno li.bootstrap::before {
  right: calc(102% - var(--techno-bootstrap));
}
.techno li.materialui::before {
  right: calc(102% - var(--techno-materialui));
}
.techno li.nodejs::before {
  right: calc(102% - var(--techno-nodejs));
}
.techno li.mongodb::before {
  right: calc(102% - var(--techno-mongodb));
}
.techno li.postgresql::before {
  right: calc(102% - var(--techno-postgresql));
}
.techno li.webpack::before {
  right: calc(102% - var(--techno-webpack));
}

.tools li {
  background-color: var(--bg-color-pills);
}

.languages li.german::before {
  right: calc(102% - var(--language-german));
}
.languages li.english::before {
  right: calc(102% - var(--language-english));
}
.languages li.spanish::before {
  right: calc(102% - var(--language-spanish));
}
.languages li.portugues::before {
  right: calc(102% - var(--language-portugues));
}

@media (min-width: 600px) {
  .intro-img-container {
    margin: 100px auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
  .intro-img {
    max-width: none;
    width: 300px;
  }

  .skills {
    margin-top: 40px;
  }
}

/********** SECTION PROJECTS **********/
.projects-container {
  max-width: 730px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-auto-rows: 120px;
  grid-auto-flow: dense;
}

.projects-container > div {
  background: teal;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.project-img-container {
  overflow: hidden;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-out;
}

.project-img:hover {
  transform: scale(1.5);
  opacity: 0.5;
}

@media (min-width: 490px) {
  .projects-container {
  }
  .vertical-md {
    grid-row: span 2;
  }
}

@media (min-width: 610px) {
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
  }
}
@media (min-width: 730px) {
  .projects-container {
    margin: 20px;
    padding-top: 25px;
  }
}
/********** SECTION BIO **********/
.bio-description {
  margin-bottom: 30px;
}

ul.cv {
  margin: auto;
  max-width: 600px;
  padding: 20px 0;
  font-size: 0.8rem;
  border-top: 1px solid #fff;
}

.job {
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.job-firstline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.job-company {
  text-align: right;
  color: var(--text-grey);
}

@media (min-width: 600px) {
  .bio-description {
    margin-bottom: 70px;
  }

  .job {
    font-size: 1rem;
  }
}

/********** SECTION CONTACT **********/
.section-contact {
  color: var(--text-grey);
}

.contact-container {
  display: flex;
}

.contact-header {
  height: 30px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.contact-header > div:last-child,
.contact-content > div:last-child {
  height: 60px;
  display: flex;
  align-items: center;
}

.contact-row {
  margin-bottom: 20px;
}

.contact-link {
  text-decoration: none;
  text-align: center;
  color: var(--color-cta);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 15px;
  border-radius: 100%;
  padding: 5px;
  text-align: center;
  line-height: 1;
  color: #fff;
  background-color: var(--color-cta);
  transition: 0.2s;
}

.social-img {
  width: 30px;
  height: 30px;
}

.social-link:hover {
  transform: translateY(-3px);
}

@media (min-width: 400px) {
  .contact-row {
    width: 120px;
  }
}
